@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap');

*,*::before,*::after{box-sizing: border-box;}
body{font-family: "roboto", "noto-sans","sans-serif";}

img{display: block;}
a{text-decoration: none;
    color: #fff;}

.container{width: 1200px;
margin: 0 auto;
padding-top:36px}

.cor-white{color: #fff;}
.cor-red{color: #A00404;}
.cor-lightBlue{color: #96A9C4;}
.cor-darkBlUe{background-color: #415165;}

.fz-lg{font-size: 80px;line-height: 1.3;}
.fz-md{font-size: 32px;
    line-height: 1.3;
    padding: 8px 0;}
.fz-sm{font-size: 24px;
    line-height: 1.5;}
.fz-xsm{font-size: 20px;
    line-height: 1.5;}

.mb-lg{margin-bottom: 72px;}
.mb-md{margin-bottom: 36px;}
.mb-sm{margin-bottom: 24px;}

.pad-fr{padding: 0 16px;}
.pad-bt{padding-bottom: 24px;}
.pad-bt-sm{padding-bottom: 16px;}

.border-b-lg{border-bottom: 2px solid #000;}
.border-b-sb{border-bottom: 1px solid #000;}
.border-b-sw{border-bottom: 1px solid #fff;}

/* ===個別設計區=== */
.tech {width: 996px;
    margin: 0 auto;
    padding: 16px;}
.tech h2{text-align: center;}
.tech ul{width: 25%;
    border-left: 1px solid #fff;
    margin: 0 auto;
    padding-left:24px;}

.experience ul{border-left: 1px solid #96A9C4;
    margin-left: 24px;
    padding: 0 24px;}
.experience p{text-align: justify;}

.footer{text-align: center;
        padding: 24px 0;}

.social{display: flex;
    justify-content: center;}

.social li{padding: 0 16px 8px 16px;}
.contact__item:hover a{color: #96A9C4;}
.social img:hover{transform: scale(1.2);}
